@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html,
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    position: absolute;
    z-index: 11;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.container{
    max-width: 1410px;
    padding: 0 20px;
    margin: 0 auto ;
}
.logo-text{
    padding: 13px 17px;
    background: #313131;
    border-radius: 8px;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}
.header-link-d ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header-link-d li a{
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 16px;
}
.header-number-d p{
    font-weight: 600;
    color: #fff;
    margin: 0;
    font-size: 16px;
}
.header-number-d a{
    font-weight: 600;
    color: #fff;
    margin: 0;
    text-decoration: none;
    font-size: 16px;
}
.div-burger{
    display: none;
}
.mob-nav{
    display: none;
}
main{
    width: 100%;
}
section{
    position: relative;
}
.section{
    padding-top: 200px;
}
.bg-img{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}
.scroll-block{
    overflow: hidden;
}
.back-for-burger-menu{
    display: none;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 110.68%;
    color: #FFFFFF;
    text-align: center;
    margin: 0 0 26px 0;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 110.68%;
    color: #1A1A1A;
}
.title-m{
    display: none;
}
.br-xs-d{
    display: none;
}
#first-section{
    background: url("img/Group\ 49.jpg") 0 0/100% auto no-repeat;
}
#first-section-content{
    padding-top: 330px;
}
.main-description{
    font-family: 'Open Sans', sans-serif;   
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.main-btns{
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}
.btn-link{
    padding: 16px 0;
    width: 210px;
    border-radius: 4px;
    background: #FFFFFF;
    color: #1A1A1A;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.btn-link:hover{
    background: #FFFFFF;
    color: #1A1A1A;
}
#btn-call{
    margin-right: 15px;
}
#btn-whatsapp{
    margin-left: 15px;
    background: #5EFA7B;
}
.title-section{
    margin-bottom: 80px;
}
#arow-main-section{
    margin: 230px 0 0 0;
    padding: 0 0 70px 0;
    display: flex;
    justify-content: center;
}
.gsergser{
    margin-right: 10px;
    display: flex;
    align-items: center;
    height: 100%;
}
.second-section-picture{
    width: 100%;
}
.faerfawe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.description-second-section{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110.68%;
    color: #000000;
}
.benefits-number-company{
    width: 100%;
    height: 114px;
    background: rgba(228, 228, 228, 0.5);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.benefit-number-company{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.all-day-benefit{
    display: none;
}
.number-title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 110.68%;
    color: #1A1A1A;
    margin: 0 0 8px 0;
}
.number-description{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 110.68%;
    text-align: center;
    color: #1A1A1A;
    margin: 0;
}
#m-second-section-picture{
    display: none;
}
.item-price{
    width: 100%;
    background: #1A1A1A;
    border-radius: 8px;
    margin-bottom: 40px;
}
.third-section-picture{
    width: 100%;
}
.description-price{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.description-price h3{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 110.68%;
    color: #FFFFFF;
    text-align: center;
}
.description-price p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110.68%;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.benefits{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.benefit{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.icon-benefit{
    width: 100px;
    height: 100px;
    background: rgba(228, 228, 228, 0.5);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefit p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110.68%;
    color: #1A1A1A;
    margin: 30px 0 0 0;
    text-align: center;
}
#fifth-section-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}
.circle-number-with-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    margin-right: 100px;
}
.circle-number-with-text p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110.68%;
    color: #1A1A1A;
    margin-top: 8px;
}
.circle-number{
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    border: 2px solid #1A1A1A;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-number span{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 110.68%;
    color: #1A1A1A;
}
.arrow-from-circle{
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
}
#sixth-section-content{
    width: 100%;
    position: relative;
}
.contact-m{
    display: none;
}
.map-m{
    display: none;
}
.info-on-map{
    width: 436px;
    height: 370px;
    background: #FFFFFF;
    border-radius: 8px;
    position: absolute;
    z-index: 11;
    right: 40px;
    top: 50px;
}
.info-on-map-container{
    padding: 25px 35px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.info-on-map-text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110.68%;
    color: #1A1A1A;
}
.info-on-map-text a{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110.68%;
    color: #1A1A1A;
    text-decoration: none;
}
.social-networks-on-map{
    display: flex;
    justify-content: center;
}
#social-item-inst{
    margin: 0 20px;
}
h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110.68%;
    color: #1A1A1A;
    text-align: center;
}
footer{
    margin-top: 200px;
    width: 100%;
    background: #1A1A1A;
}
.footer-content{
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}
.footer-content ul{
    list-style-type: none;
    padding: 0;    
}
.footer-content li{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110.68%;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-icon{
    margin-right: 8px;
}
.title-foter{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 110.68%;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.contacts{
    margin: 0 20px;
}
.contacts li{
    display: flex;
    align-items: center;
}
.footer-content li a{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110.68%;
    color: #FFFFFF;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}
.footer-content li p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110.68%;
    color: #FFFFFF;
    margin: 0;
    text-decoration: none;
}
@media (max-width: 1920px){
    #first-section{
        background: url("img/Group\ 49.jpg") no-repeat center;
    }
}
@media (max-width: 1300px){
    #first-section-content{
        padding-top: 250px;
    }
    .arrow-from-circle{
        top: 23px;
    }
}
@media (max-width: 1100px){
    .header-link-d li a{
        padding: 8px 8px;
    }
    .arrow-from-circle{
        top: 25px;
    }
}
@media (max-width: 991px){
    #first-section{
        background: url("img/Group\ 49.jpg") no-repeat center;
    }
    .div-burger{
        display: block;
        z-index: 111;
    }
    #burger{
        width: 50px;
    }
    .header-link-d{
        display: none;
    }
    .header-number-d{
        display: none;
    }
    .mob-nav{
        display: block;
        position: absolute;
        padding: 50px 0 0 0;
        top: 0;
        left: -600px;
        background: #1A1A1A;
        width: 400px;
        height: 100vh;
        transition: all 0.8s 0.1s ease;
        z-index: 12;
    }
    .arrow-from-circle{
        top: 28px;
    }
    .back-for-burger-menu{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000000;
        opacity: 0;
        z-index: 11;
    }
    .activ-bg{
        display: block;
        opacity: 0.5;
    }
    .mob-nav ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .mob-nav li{
        margin: 4px 0;
    }
    .mob-nav li a{
        font-weight: 600;
        color: #fff;
        text-decoration: none;
        padding: 4px 16px;
        font-size: 24px;
        margin: 16px 0;
    }
    .mob-nav p{
        font-weight: 600;
        color: #fff;
        text-decoration: none;
        padding: 4px 0;
        font-size: 24px;
    }
    .mob-nav a{
        font-weight: 600;
        color: #fff;
        text-decoration: none;
        padding: 4px 16px;
        font-size: 24px;
    }
    .active{
        left: 0;
        transition: all 0.8s 0.1s ease;
        display: block;
    }
    #m-second-section-picture{
        display: block;
        margin: 10px 0 20px 0;
    }
    .left-section-picture{
        display: none;
    }
    .benefit{
        width: 33.33%;
        margin-bottom: 40px;
    }
    .circle-number-with-text{
        margin-right: 50px;
    }
    .info-on-map{
        width: 436px;
        height: 370px;
        background: #FFFFFF;
        border-radius: 8px;
        position: absolute;
        z-index: 11;
        right: 10px;
        top: 50px;
    }
}
@media (max-width: 768px){
    h1{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 110.68%;
        color: #FFFFFF;
        text-align: center;
        margin: 0 0 26px 0;
    }
    .title-m{
        display: block;
    }
    .title-d{
        display: none;
    }
    .br-sm-none{
        display: none;
    }
    .main-description{
        font-family: 'Open Sans', sans-serif;   
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
    }
    .info-on-map{
        display: none;
    }
    h5{
        font-size: 36px;
        text-align: start;
    }
    .contact-m{
        display: block;
    }
    .info-on-map-text{
        margin: 20px 0;
    }
    .social-networks-on-map{
        display: flex;
        justify-content: start;
        margin: 0 0 30px 0;
    }
}
@media (max-width: 676px){
    .contacts{
        margin: 0;
    }
    .social-networks{
        margin: 40px 80px 0 0;
    }
    .circle-number-with-text{
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 3;
        margin: 20px 0 0 0;
        width: 100% ;
    }
    .circle-number-with-text p{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 110.68%;
        color: #1A1A1A;
        margin: 0 0 0 20px;
    }
    .arrow-from-circle-m{
        position: absolute;
        top: 20px;
        left: 37px;
        content: '';
        width: 5px;
        height: 350px;
        background: #1A1A1A;
    }
    .arrow-from-circle{
        display: none;
    }
}
@media (max-width: 576px){
    #first-section{
        height: 100%;
    }
    #first-section-content{
        padding-top: 200px;
    }
    #arow-main-section {
        margin-top: 100px;
        padding: 0 0 50px 0;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 30px;
    }
    h5{
        font-size: 24px;
    }
    .title-section{
        margin-bottom: 40px;
    }
    .title-about-company{
        margin-bottom: 40px;
    }
    .number-title{
        font-size: 28px;
    }
    .main-btns{
        flex-direction: column;
        align-items: center;
    }
    #btn-whatsapp{
        margin: 20px 0 0 0;
    }
    #btn-call{
        margin: 0;
    }
    .mob-nav{
        width: 100%;
    }
    .logo-text{
        padding: 8px 12px;
        font-size: 18px;
    }
    .section{
        padding-top: 100px;
    }
    .benefit{
        width: 50%;
    }
    .container{
        padding: 0 20px;
    }
    .social-networks{
        margin: 40px 0 0 0;
    }
    .contacts{
        margin: 0 0 0 20px;
    }
    .number-description{
        font-size: 12px;
    }
    .description-price p{
        font-size: 18px;
    }
    .description-price h3{
        font-size: 24px;
    }
    .benefit p{
        font-size: 18px;
    }
    .map-d{
        display: none;
    }
    .map-m{
        display: block;
    }
    footer{
        margin-top: 100px;
    }
    #age-numer{
        padding: 0 10px;
    }
}
@media (max-width: 449px){
    .contacts{
        margin: 40px 20px 0 0;
    }
    .social-networks{
        margin: 40px 0 0 0;
    }
    .br-xs-d{
        display: block;
    }
}
@media (max-width: 354px){
    .text-24-benefit{
        display: none;
    }
    .all-day-benefit{
        display: block;
    }
}
@media (max-width: 319px){
    .number-description{
        font-size: 10px;
    }
    .number-title{
        font-size: 18px;
    }
}
